.container-pag-livro{
    width: 100%;
    margin: 0;
    padding: 0;
}

.img-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 55vh;
    background-color: gray;
    z-index: 10;
    filter: none;
}
  
.background-img {
  position: absolute;
  width: 100%;
  height: 65vh;
  filter: blur(0.65rem);
}

.foreground-img {
  z-index: 1;
  height: 100%;
  width: 22%;
}

.painel-livro-container{
    display: flex;
    background-color: #FA8113;
    width: 100%;
    height: auto;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
}

.container-info-livro{
    display: flex;
    flex-direction: column;
}

.titulo-livro{
    display: flex;
    width: 45%;
    font-weight: bold;
    font-size: 28pt;   
}

.container-i-livro{
    display: flex;
    justify-content: space-between;
}

.container-i-livro button{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fab143;
    margin-right: 10px;
    padding: 5px;
    width: 88.7px;
    border-radius: 15px;
    border: none;
    font-weight: 600;
}

.container-i-livro button:hover{
    background-color: #faa931;
    transition: 0.3s;
}

.i-livro{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    
}

.i-leg{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-class-livro{
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.nota{
    background-color: gray;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 24pt;
    border-radius: 15px;
    width: 50%;
}

.container-user-class{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.avas{
    font-weight: bold;
    padding-top: 5px;
}

.user-class{
    display: flex;
    font-weight: bold;
    padding-right: 10px;
}

.container-total-livro{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
}

.container-sobre-livro{
    display: flex;
    flex-direction: column;
    padding-right: 0px;
}

.container-resumo{
    text-align: justify;
}

.container-tags{
    display: flex;
    flex-direction: row;
}

.container-tag{
    background-color: #fab143;
    width: fit-content;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-right: 20px;
}

.container-tag:hover{
    background-color: #FA8113;
    color: white;
    transition: 0.3s;
}

.tags{
    color: black;
    text-decoration: none;
}

.tags:hover{
    color: white;
    transition: 0.3s;
}

.container-simi{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 25px;
}

.container-simi span{
    margin-bottom: 10px;
}

.container-livros-simi{
    display: flex;
}

.container-livros-simi .bhHnmT{
    margin: 0;
}

.img-simi{
    display: inline;
    width: fit-content;
    height: max-content;
    margin-right: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);;
}

.container-res{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-res span{
    margin-bottom: 20px;
}

.container-user-res{
    display: flex;
    width: 100%;
}

.user-res{
    font-size: xxx-large;
    color: black;
    margin-right: 20px;
}

.res{
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
    border: 1px solid #B3B3B3;
    border-radius: 4px;
    resize: none;
    outline: black;
}

.link-res-conta{
    width: 100%;
}

.linha-livro{
    width: 1px;
    height: 110vh;
    border: none;
    border-left: 1px solid black;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
    background-color: transparent;
}

.container-total-tec-livro{
    display: flex;
    justify-content: flex-end;
}

.container-tec-livro{
    display: flex;
    flex-direction: column;
}

.img-edit{
    width: 100px;
}

.container-tec-livro span{
    margin-top: 10px;
}

.container-info-livro{
    display: flex;
    
}

.container-sit{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 30px;
}

.container-sit span{
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #fab143 ;
    border-radius: 15px;
    padding: 5px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;
    justify-content: center;
}