header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: #E89212;
    font-size: 18px;
    box-sizing: border-box;
}

.logo{
    text-decoration: none;
    font-size: 32px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 20px;
}

.botoes-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-decoration: none;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    
}

.botoes-header:hover{
    transition: 0.3s;
    background-color: #b6720d;
    color: #F8B654;
}

.logo:hover{
    color: black;
}

.navegar{
    display: block;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: black;
    border: none;
    border-radius: 0;
    margin: 0;
    font-size: 18px;
}

.navegar:hover{
    transition: 0.3s;
    background-color: #b6720d;
    color: #F8B654;
    border: none;
}

.dropdown-nav{
    background-color: #E89212;
    border-radius: 5px;
    border: none;
}

.dropdown-item{
    color: black;
}

.dropdown-item:hover{
    background-color: #b6720d;
    color: #F8B654;
}

.div-search{
    height: 60%;
    display: flex;
    justify-content: center;
}

.pesquisa{
    width: 280px;
    font-size: 10pt;
    border: 1px black solid;
    border-radius: 5px;
    padding: 5px;
    outline: none;
}

.btn-search{
    padding: 5px;
    background-color: transparent;
    border: none;
}

.user{
    display: inline-flex;
    align-content: center;
    font-size: 50px;
}
