.pag-editora{
    display: contents;
}

.card-editora{
    border: 1.5px solid #B3B3B3;
    box-shadow: 1px 1px 8px #B3B3B3;
    border-radius: 10px;
    flex-direction: row;
    margin-top: 30px;
    width: 1150px;
}

.card-editora:hover{
    transition: 0.3s;
    background-color: #F2F2F2;
}

.link-card-editora{
    display: flex;
    justify-content: center;
    color: black;
    text-decoration: none;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.link-card-editora:hover{
    transition: 0.3s;
    color: #FA8113;
}

.info-editora{
    width: 280px;
}

.container-livros-edit-card{
    display: flex;
    padding: 20px;
    gap: 10px;
}

.lista-editora{
    padding: 0px;
    padding-left: 10px;
    padding-right: 0px;
}

.nome-editora{
    font-weight: bold;
    font-size: 18pt;
    padding-bottom: 20px;
}

li{
    list-style: none;
    display: list-item;
    padding-bottom: 10px;
}

.img-card-editora{
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
}

.img-card-livro{
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 0px;
    border-radius: 20px;
}

.i-pub, .i-leit, .i-seg, .i-esc{
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.btns-pags{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 14px;
}

.btn-pag{
    border-radius: 3px;
    border-color: #B3B3B3;
    background-color: white;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}